{% extends "encyclopedia/layout.html" %}
{% block title %} Encyclopedia {% endblock %}
{% block body_content %}
<section id="index_section" class="bg-light border-left mt-n3">
	<hr class="my-0">
	<div class="greeting-header text-center">
		<h1 class="ff_wiki font-weight-bolder text-dark">Welcome To Wiki</h1>
		<p>The free encyclopedia that anyone can edit. </p>
	</div>
	<div class="start-page px-3 bg-white pt-2">
		<h2>Wiki Pages</h2>
		

		{# All avaialble Enties #}
		<div id="spinner" class="invisible  position-fixed mh-100 mw-50 h-100 w-50 ">
			<img
				src="https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg"
				alt="loading-spinner" class="d-block  w-25 mw-25 mh-25">
		</div>
		<div class="entry-content">
			<h5 class="font-weight-bold">Available Entry -
				<span class="badge badge-secondary px-2">{{entries|length}}</s>
			</h5>
			<ul>
				{% for entry in entries %}
				<li class="p-1">
					{# entry title and url #}
					<a href="{% url 'wiki_entry' entry %}"> {{ entry }} </a>
				</li>
				{% empty %}
				<li>
					<h1 class="text-secondary text-centered "> No entry was found</h1>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
{% endblock %}